// if creation wasnt successfull show error alert
<% if @order.errors.any? %>
  // $('.errors').html('<div class="alert alert-danger">Please Fill all the fields</div>');
  <%= render :partial=>'items/errors' , :locals=> { :target => @order } %>

<% else %>
// publish notifications to all invited users
<% @invites.each do |invite| %>
<% publish_to "/notifications/user/#{invite.user_id}" do %>
// incerement the number of new notification for invited user
var notificationsNum = $('#new_notification_number').text();
$('#new_notification_number').text(++notificationsNum);
// append the new notification body to the notification menu
$('.notifications-wrapper').prepend(
  $('<a/>')
    .addClass("content")
    .append(
      $('<div/>')
        .addClass('notification-item')
        .append(
          $('<h4/>')
            .addClass('item-title')
            .text(
              "<%= invite.order.user.username.titleize + " invited you to" %>"
              +"<% if invite.order.user.gender == "0" %> his"
              +"<% else %> her <% end %> new order "
            )
            .append(
              $('<small/>')
                .text(" <%= time_ago_in_words invite.created_at %>")
            )
        )
        .append(
          $('<p/>')
            .addClass('item-info')
            // link to order details page
            .html('<%= link_to "Join now", invite.order %>')
        )
    )
);
<% end %>
<% end %>
// redirect the user to the order details page after successful order creation
window.location.href = "<%= order_url(@order) %>";
<% end %>
