<div class="container">
    <div class="row">      
            <div class="page-header text-center">
                <h1>Orders Manager</h1>
                <font><%= link_to 'Add new order' , new_order_url %></font>
            </div> 
    </div>
    <div class="row">
            <div class="col-sm-5">
                <div class="row table-responsive">
                    <div class="page-header text-center">
                        <h1>My orders</h1>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead >
                            <tr class="info ">
                                <th>Order </th>
                                <th>Resturant</th>
                                <th>Invited</th>
                                <th>Joined</th>
                                <th>Status</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% @orders.each do |order| %>
                            <tr>
                                    <td> <%= order.order_type %> </td>
                                    <td> <%= order.destination%> </td>
                                    <td>  <%=  order.order_invites.count %></td>
                                    <td><%= order.order_invites.where(invite_status: 1).count %></td>
                                    <td><%= order.status %></td>
                                    <td><%= link_to 'View' , order_url(order) %> -
                                        <a href="/order/<%= order.id %>/finish" > finish </a> -
                                        <a href="/order/<%= order.id %>/cancel" > cancel </a>
                                    </td>
                                <% end %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        <div class="col-sm-5 col-sm-offset-2">
            <div class="row table-responsive">
                <div class="page-header text-center">
                        <h1>Friend invite me </h1>
                    </div>
                <table class="table table-bordered table-hover">
                    <thead >
                        <tr class="info ">
                            <th>Order </th>
                            <th>Resturant</th>
                            <th>Invited</th>
                            <th>Joined</th>
                            <th>Status</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% @iorders.each do |order| %>
                        <tr>
                                <td> <%= order.order_type %> </td>
                                <td> <%= order.destination%> </td>
                                <td>  <%=  order.order_invites.count %></td>
                                <td><%= order.order_invites.where(invite_status: 1).count %></td>
                                <td><%= order.status %></td>
                                <td><%= link_to 'View' , order_url(order) %>
                                </td>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>   
	
</div>

